%tr{id:@question.id}
  %td
    .col-xs-12
      .row
        .col-xs-11
          .row
            .col-xs-2
              %strong 
                = "Question No ##{@index}"
            .col-xs-9     
              =@question.description.html_safe
      .col-xs-10.options
        -@question.question_options.each do |option|
          .col-xs-8
            -if option.is_correct == true
              =check_box_tag :truefalse,nil, true,:class => "true-or-false", :disabled => true
              = option.answer
            -else
              =check_box_tag :truefalse,nil, false,:class => "true-or-false",:disabled => true
              = option.answer
  %td
    .col-xs-12.pull-right
      = link_to repository_quiz_bank_section_question_path(@repository,@quiz_bank,@section,@question), remote:true,data:{method:"delete",confirm: "Are you sure"},rel:"tooltip", title:"Delete Question" do
        %span.glyphicon.glyphicon-trash.pull-right 
      = link_to edit_repository_quiz_bank_section_question_path(@repository,@quiz_bank,@section,@question),remote:true,rel:"tooltip", title:"Edit Question" do
        %span.glyphicon.glyphicon-pencil.pull-right                