%tr.question{id: "question_#{@question.id}",data:{section_id: @question.section.id, id:@question.id}}
  %td.col-xs-11
    .col-xs-12
      .row
        .col-xs-11
          .row
            .col-xs-2.question-number
              %strong 
                = "Question No ##{@index}"
            .col-xs-9     
              =@question.description.html_safe
      .col-xs-10.options
        -unless @question.question_options.first.answer.blank? 
          -if @question.question_options.first.answer != ""
            =@question.question_options.first.answer.html_safe 
  %td.col-xs-1
    .col-xs-12.pull-right
      = link_to repository_quiz_bank_section_question_path(@repository,@quiz_bank,@section,@question), remote:true,data:{method:"delete",confirm: "Are you sure"}, rel: "tooltip",title: "Delete Question" do
        %span.glyphicon.glyphicon-trash.pull-right 
      = link_to edit_repository_quiz_bank_section_question_path(@repository,@quiz_bank,@section,@question),remote:true, rel:"tooltip", title:"Edit Question" do
        %span.glyphicon.glyphicon-pencil.pull-right           