%tr.question{id: "question_#{@question.id}", data:{section_id: @question.section.id, id: @question.id}}
  %td.col-xs-10
    .col-xs-12
      .row
        .col-xs-11
          .row
            .col-xs-2.question-number
              %strong 
                = "Question No. #{@index}"
            .col-xs-8     
              =@question.description.html_safe
            -if action_name == 'edit' or action_name == 'update'
              .col-xs-1.pull-right
                =link_to edit_repository_quiz_bank_section_question_path(@repository,@quiz_bank,@section,@question), remote:true do
                  %span.glyphicon.glyphicon-pencil  
        .col-xs-10.options
          .col-xs-8
            -if @question.question_options.first.is_correct == true
              =check_box_tag :true,nil, true, :disabled => true
              = "True"
              =check_box_tag :false,nil,false, :disabled => true
              = "False"
            -else
              =check_box_tag :true,nil,false, :disabled => true
              = "True"
              =check_box_tag :false,nil,true, :disabled => true
              = "False"               
