$('#base-modal').html(' #{j(render(partial: 'edit'))} ').modal()
$(".modal-body").on('focus','.answer-field',function(e){
if($(".answer-field").last()[0] == this){
e.preventDefault()
rows = $("table.mcq tbody tr").length
$("table.mcq tbody").append('<tr><td class="col-xs-7"><input class="form-control answer-field" id="answer'+(rows+1)+'" name="answer'+(rows+1)+'" type="text"></td><td class="col-xs-4"><input class= "radio-option" id="option_option'+(rows+1)+'" name="option" type="radio" value="option'+(rows+1)+'"> Correct</td><td class="col-xs-1"><a href="#"><span class="glyphicon glyphicon-remove remove-option" style="color:red;"></span></a></td></tr>')
$('.option-rows').val(rows+1)
}
})

$(".modal-body").on("click",".glyphicon-remove",function(e){
e.preventDefault()
if($(".answer-field").length > 2){
$(this).parents("tr").remove()
rows = $('.option-rows').val()
$('.option-rows').val(rows-1)
$(".radio-option").each(function(index){
$(this).attr('value',"option"+(index+1))
$(this).attr('id',"option_option"+(index+1))
})
$(".answer-field").each(function(index){
$(this).attr('name',"answer"+(index+1))
$(this).attr('id',"answer"+(index+1))
})
}
else{
alert("Cann't remove last two options")
}
})

if(#{@question.question_type} == 1){
$(".question-add").append(' #{j(render(partial: 'true_false_edit'))} ')
}
else if(#{@question.question_type} == 2){
$(".question-add").append(' #{j(render(partial: 'mcq_edit'))} ')	
}
else if(#{@question.question_type} == 3){
$(".question-add").append(' #{j(render(partial: 'open_ended_edit'))} ')
}
else if(#{@question.question_type} == 4){
$(".description").hide()
$(".question-add").append(' #{j(render(partial: 'fill_in_the_blank_edit'))} ')
}


$("#question_form").validate({
onkeyup: false,
onclick: false,
onfocusout: false,
rules: {
"question[question_type]": {
required: true
},
"question[difficulty_level]": {
required: true
},
"question[subject_id]":{
required: true
}
},
messages: {
"question[question_type]": {
required: "Please choose type"
},
"question[difficulty_level]": {
required: "Please choose difficulty level"
},
"question[subject_id]":{
required: "Please choose subject"
}
},
highlight: function(element) {
$(element).siblings('label.error').remove();
$(element).closest('.control_validate').removeClass('success').addClass('error');
},
// Success function accepts lable as an argument
success: function(element) {
$(element).remove();
$(element).closest('.control_validate').removeClass('error').addClass('success');
}
});