.row.new-form
  .col-xs-12    
    =simple_form_for ([@repository,@quiz_bank]), format: :js, remote: true, html:{class: "form-horizontal",id:"quiz_form"} do |f|
      .row
        .col-xs-12
          = f.input :title,:placeholder => "Enter Title", input_html: { class: 'form-control' },:label => false  
        .col-xs-12.mar-top-10.subject-dropdown
          = f.input :repository_id,input_html:{class: 'hide'}, :label => false
          = f.input :subject_id, collection: Subject.for_select, prompt: "Select Subject", input_html:{class: 'form-control subject-id'}, :label => false  
        .col-xs-12.mar-top-10.subject-field.hide
          = text_field_tag :new_subject, nil, :placeholder => "Enter the Subject", class: "form-control new-subject-text"
        .col-xs-12.mar-top-10   
          = f.input :description,:placeholder => "Description", :as => :text, input_html: {class: 'form-control',style:"height:200px"}, :label => false

      .row
        .col-xs-12    
          Add new Tag
          %input{type:"text", class: "form-control tag-field",data:{quiz_id: @quiz_bank.id}}
          = hidden_field_tag("tags", "", :id => "submit_tag")
          .tag-list-div.hide
            %h4 Tag List
            %ul.tag-list
          .tag-badges
            .tag-badges-list.mar-top-10.hide
              %h4
                Quiz Bank Tags


:javascript
  $(document).ready(function(){
    $(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        if($(".tag-field").val().length > 0){
          value = $(".tag-field").val()
          $(".tag-field").val("")
          $(".tag-badges-list").append("<span class = 'badge badge-warning'>"+value+"</span>")
          value = value + ","+ $("#submit_tag").val()
          $("#submit_tag").val(value)
        }
        return false;
      }
    });
    
    
    
  })
      
      

      
      
