<%=render 'common/tabs'%>
<div class="tab-content padding-top40 tab-container">
	<div class="mar_top creat-repo-div">
		<h2><%= @quiz_bank.title%></h2>
		<div class = "style_r">
		 	<a class="btn btn-primary" href="#">Add Section</a>
 		</div>
  </div>
	<div class = "top_bar_ss">
	  <span class = "mar_l_30"><b>Created on:</b> <%=@quiz_bank.created_at.to_date %> </span>
	</div>

	<ul class="breadcrumb top_bar_s">
	  <li><%= link_to "My Quiz Bank", repository_quiz_banks_path%></li>
	  <li class="active"><%= @quiz_bank.title%></li>
  </ul>
  <%if @sections.blank?%>
		<div class = "top_bar_s">
  		There are no sections.
		</div>
	<%else%>
		<h4>Sections</h4>
		<hr>
		<table class="table table-bordered">
      <tr>
        <th>Title</th>
      </tr>
      <%@sections.each do |s|%>
      	<tr>
      		<td><%=s.title%></td>
      	</tr>
      <%end%>
    </table>
	<%end%>
</div>