<%=render 'common/tabs'%>
<div class="tab-content padding-top40 tab-container">
	<div class="mar_top creat-repo-div">
		<h2><%= @quiz_bank.title%></h2>
		<div class = "style_r">
		 	<a class="btn btn-primary" href="<%=  new_repository_quiz_bank_section_path(@repository,@quiz_bank)%>">Add Section</a>
 		</div>
  </div>
	<div class = "top_bar_ss">
	  <span class = "mar_l_30"><b>Created on:</b> <%=@quiz_bank.created_at.to_date %> </span>
	</div>

	<ul class="breadcrumb top_bar_s">
		<li><%= link_to "My Repo", repositories_path%></li>
	  <li class="active"><%= @repository.title%></li>
	  <li><%= link_to "My Quiz Bank", repository_path(@repository)%></li>
	  <li class="active"><%= @quiz_bank.title%></li>
  </ul>
  <%if @sections.count == 0 %>
		<div class = "top_bar_s">
  		There are no sections.
		</div>
	<%else%>
		<h4>Sections</h4>
	<%@sections.each do |s|%>
    <div class = "well">
    		<%=s.title%>
			  <div class = "pull-right">
			    <a href="<%= edit_repository_quiz_bank_section_path(@repository,@quiz_bank,s)%>" >
			      <span class="glyphicon glyphicon-pencil" rel="tooltip" title="Edit"></span>
			    </a>
			    <a href="<%= repository_quiz_bank_section_path(@repository,@quiz_bank,s)%>" data-method="delete" data-confirm = "Are you sure?">
			      <span class="glyphicon glyphicon-trash" rel="tooltip" title="Delete"></span>
			    </a>
			  </div>
    </div>
  <%end%>
    
	<%end%>
</div>