=render 'common/tabs_edit'
.tab-content.padding-top40.tab-container
  .mar_top.creat-repo-div 
    %h2 Change Password
  .form_edit
    = form_tag "/users/update_change_password",:class => "form-horizontal", :id => "password_change" do |f|
      .form-group
        %h4.lead
          %label.f_w_e.control-label New Password
        .edit_email.col-sm-10
          = password_field_tag :new_password,nil,:class => "form-control marg_cor",:placeholder => "New Password"
      .form-group
        %h4.lead
          %label.f_w_e.control-label Password Confirmation
        .edit_email.col-sm-10
          = password_field_tag :confirm_password,nil,:class => "form-control marg_cor",:placeholder => "Password Confirmation"
      .form-group{style:"margin:4px;"}
        = hidden_field_tag :user_id, current_user.id, :class => "user-id"
        = submit_tag "Update", :class => "btn btn-primary btn-lg active form-control update_b"
 
