=render 'common/student_tabs'
.tab-content.padding-top40.tab-container
  .row
    .col-xs-2
      =image_tag display_picture(current_user),:class => 'big_thumb pos_img_prof', :id => "logo2"
    .col-xs-7
      -if current_user.name.present?
        = current_user.name
      %br   
      = "Profession: #{current_user.role}"
      %br
      -if current_user.email.present?
        = "Email: #{current_user.email}"
    .col-xs-3
      = link_to "Change Password",change_password_user_path(current_user), :class => "btn btn-primary"
      = link_to "Edit Profile", edit_students_user_path(current_user), :class => "btn btn-primary"      