%li
  -unless @repository.quiz_banks.blank?
    %span.glyphicon.glyphicon-plus-sign
    %span 
      =@repository.title
    %span.badge 
      = @repository.quiz_banks.count
    %ul.hide
      -@repository.quiz_banks.each do |quiz|
        %li
          = link_to "#{quiz.title}", repository_quiz_bank_path(@repository, quiz), remote:true
  -else
    %span.glyphicon.glyphicon-minus-sign
    %span 
      = @repository.title
    %span.badge
      = @repository.quiz_banks.count


:javascript
  $(document).ready(function(){
    $(".navigation").on("click",".glyphicon-plus-sign",function(e){
      e.preventDefault()
      $(this).removeClass("glyphicon-plus-sign").addClass("glyphicon-minus-sign")
      $(this).siblings("ul").removeClass("hide")
    })
    $(".navigation").on("click",".glyphicon-minus-sign",function(e){
      e.preventDefault()
      if($(this).siblings("ul").length > 0){      
        $(this).removeClass("glyphicon-minus-sign").addClass("glyphicon-plus-sign")
        $(this).siblings("ul").addClass("hide")
      }
    })

  })      