<tr>
  <td>
    <a href = "<%= repository_path(repository)%>"><%=repository.title%></a>
  </td>
	<td>
	  Quiz Banks: <%=repository.quiz_banks.count%>  </td>
	<td>

	</td>
	<td>
		<a href="<%=edit_repository_path(repository)%>" >
		<span class="glyphicon glyphicon-pencil" rel="tooltip" title="Edit"></span>
		</a>
		<a href="<%=repository_path(repository)%>" data-method="delete" data-confirm = "Are you sure?">
		<span class="glyphicon glyphicon-trash" rel="tooltip" title="Delete"></span>
		</a>

		<a href="<%=repository_collaborators_path(repository)%>" class='active' data-remote =  true >
		<span class="glyphicon glyphicon-share-alt" rel="tooltip" title="Share"></span>
		</a>
	</td>
</tr>