%tr{id: @repository.id}
  %td
    =link_to "#{@repository.title}",repository_path(@repository)
  %td
    = "Quiz Banks #{@repository.quiz_banks_count}"
  %td
    -@repository.question_tags.each do |question_topic|
      -if current_user.can_change_repo?(@repository)
        %span.badge.badge-warning{id: question_topic.id} #{question_topic.topic.title.downcase} <a href="#{question_topic_path(question_topic.id)}" data-remote = true data-method = "delete" data-confirm = "Are you sure?" rel= "tooltip" title = "Remove Tag">x</a>
      -else
        %span.badge.badge-warning{id: question_topic.id} #{question_topic.topic.title.downcase}
  %td
    ="Collaborators:"
    =link_to "#{@repository.collaborators.count}", get_all_collaborators_repository_path(@repository),remote:true
  %td
    -#= link_to edit_repository_path(@repository), remote:true, rel: "tooltip", title: "Edit" do
      -#%span.glyphicon.glyphicon-pencil
    =link_to repository_path(@repository),data:{method: :delete, confirm: "Are you sure?"}, remote:true,rel: "tooltip",title: "Delete Repo" do
      %span.glyphicon.glyphicon-trash
    =link_to repository_collaborators_path(@repository), remote:true, rel: "tooltip", title: "share" do
      %span.glyphicon.glyphicon-share-alt