<tr>
  <td>
    <a href = "<%= repository_path(repository)%>"><%=repository.title%></a>
  </td>
  <td>
    Quiz Banks: <%=repository.quiz_banks.count%>
  </td>
  <td>
    
  </td>
  <td>
    <%if repository.user.name.present?%>
      <%=repository.user.name%>
    <%else%>
      <%=repository.user.email%>
    <%end%>  
  </td>
</tr>
