=render 'common/tabs'
.tab-content.padding-top40.tab-container
  .mar_top.creat-repo-div.row
    .col-xs-12
      %h2.repo-title-show
        %span.title.col-xs-3
          = @repository.title
        %span.repo-title-edit.hide.col-xs-3{data:{id: @repository.id}}
          %form.form-inline
            .form-group
              %label{for: "title-field"}Edit Title
              %input{type:"text", class:"form-control",id:"title-field",placeholder:"Enter Title", value: @repository.title}  
        -#%span.col-xs-4.pull-left  
          -#=link_to "#",rel: "popover",data:{content: @repository.description,trigger:"manual"}, style: "margin-left:15px",id: "description-popover" do
            -#%span.glyphicon.glyphicon-comment
      
    .tags.col-xs-7.mar-top-10
      -@repository.question_tags.each do |question_topic|
        -if current_user.can_change_repo?(@repository)
          %span.badge.badge-warning{id: question_topic.id} #{question_topic.topic.title.downcase} <a href="#{question_topic_path(question_topic.id)}" data-remote = true data-method = "delete" data-confirm = "Are you sure?" rel= "tooltip" title = "Remove Tag">x</a>
        -else
          %span.badge.badge-warning{id: question_topic.id} #{question_topic.topic.title.downcase}     
    .style_r.col-xs-5
      = link_to "Back to Repos", repositories_path, class: "btn btn-primary"
      -if current_user.can_change_repo?(@repository)
        =link_to "Edit","#", class: "btn btn-primary edit-repo", remote: true
      -if @repository.is_admin? current_user or  @repository.is_owner? current_user
        =link_to "Share",repository_collaborators_path(@repository),class: "btn btn-primary share-repo",remote: true
      -if current_user.can_change_repo?(@repository)
        =link_to "Add Quiz Bank", new_repository_quiz_bank_path(@repository), class: "btn btn-primary add-quiz", remote: true     


  .row
    .top_bar_ss.col-xs-12
      %span.mar_l_30
        %b Owned by 
        =@repository.owner.name
      %font.mar_l_30 |
      %span.mar_l_30
        %b Created on:
        =@repository.created_at.to_date
      %font.mar_l_30 |
      %span.mar_l_30
        %b Quiz Banks:
        =@quiz_banks.blank? ? 0:@repository.quiz_banks.count
      %font.mar_l_30 |
      %span.mar_l_30
        %b Collaborators:
        = @repository.collaborators.count
  .row
    .col-xs-12      
      %ul.breadcrumb.top_bar_s
        %li
          = link_to "My Repos", repositories_path
        %li.active
          = @repository.title
  .row
    .col-xs-12
      %h4 Description
      .description-show
        -if @repository.blank?
          = "Repository does not has any description"
        -else
          = @repository.description
      .description-edit.hide
        =text_area_tag :description, @repository.description,:class => "form-control description-text"              
  .row
    .col-xs-12.mar-top-20
      = form_tag repository_path, :method => 'get' do
        %p
          = text_field_tag :search, params[:search], :placeholder => "Search", :class => "form-control cust_wid search-text"
          = submit_tag "Search", :name => nil, :class => "btn btn-primary pos_b_s search-quiz-bank-from-show"
      .creat-repo-div
        %h4 Quiz Banks
      %input{type:"hidden", class:"repo-id", value:@repository.id}
      .quiz-banks-div 
        =render partial: "quiz_banks/all_quiz_banks", :locals => {:@quiz_banks => @quiz_banks}
        