<%=render 'common/tabs'%>
<div class="tab-content padding-top40 tab-container">
	<div class="mar_top creat-repo-div">
		<h2><%= @repository.title%></h2>
  
	
		<div class = "style_r">
			<%if @repository.is_admin? current_user or @repository.can_write? current_user or  
				@repository.is_owner? current_user %>
		      <a class="btn btn-primary" href="<%=edit_repository_path(@repository)%>">Edit</a>
		    <%end%>  
		  <%if @repository.is_admin? current_user or  @repository.is_owner? current_user %>
		    <a class="btn btn-primary" data-remote = true href="<%=repository_collaborators_path(@repository)%>">Share</a>
		  <%end%>
		 <a class="btn btn-primary" href="<%= new_repository_quiz_bank_path(@repository)%>">Add quiz bank</a>
 	</div>

  </div>
	<div class = "top_bar_ss">
	  <span class = "mar_l_30"><b>Owned by:</b> <%=@repository.user.name %>  </span> <font class = "mar_l_30">|</font>
	  <span class = "mar_l_30"><b>Created on:</b> <%=@repository.created_at.to_date %>  </span><font class = "mar_l_30">|</font>
	  <span class = "mar_l_30"><b>Quiz Banks:</b> 0  </span><font class = "mar_l_30">|</font>
	  <span class = "mar_l_30"><b>Topics:</b> 0  </span><font class = "mar_l_30">|</font>
	  <span class = "mar_l_30"><b>Collaborators:</b> <%= @repository.collaborators.count %>  </span>
	</div>

	<ul class="breadcrumb top_bar_s">
	  <li><%= link_to "My Repo", repositories_path%></li>
	  <li class="active"><%= @repository.title%></li>
  </ul>
	<div class = "top_bar_s">
	  There are no quiz banks.
	</div>  
</div>