$('#base-modal').modal('hide')
if(window.location.pathname == "/repositories"){
$("tr##{@repository.id}").after(' #{j(render(partial: 'repository'))} ')
$("tr##{@repository.id}").remove()
}
else{
$(".repo-title-show").children().first().html("#{@repository.title}")
$(".repo-title-show").find("span a").data("content", "#{@repository.description}")
$("#description-popover").popover()
}
