=render 'common/tabs'
.tab-content.padding-top40.tab-container
  .row.grade-quizzes
    -unless @served_quizzes.blank?
      %table.table.table-striped
        %thead
          %th.col-xs-2 Served Quiz
          %th.col-xs-3 Served At
          %th.col-xs-3 Status
          %th.col-xs-1 Grade
          %th.col-xs-1 Graded
          %th.col-xs-2 Analyze
        -@served_quizzes.each do |served_quiz|
          %tbody
            %tr
              %td.col-xs-2
                = served_quiz.cloned_quiz_bank.title
              %td.col-xs-3
                = served_quiz.date
              %td.col-xs-3
                = "Invited: "
                = link_to served_quiz.sharings.pending.count, invited_students_served_quiz_path(served_quiz), remote:true
                = " / "
                = "Pending: "
                = link_to served_quiz.sharings.started.count, pending_students_served_quiz_path(served_quiz), remote:true
                = "/" 
                = "Completed: "
                = link_to served_quiz.sharings.attempted.count,completed_students_grade_quiz_path(served_quiz), remote:true
              %td.col-xs-1.grade-pending{id: "served_quiz_#{served_quiz.id}"}
                -unless served_quiz.open_ended_questions_to_grade.count == 0
                  %span.badge{rel: "tooltip", title: "#{served_quiz.open_ended_questions_to_grade.count} to grade"}
                    = link_to served_quiz.open_ended_questions_to_grade.count,  show_questions_to_grade_served_quiz_path(served_quiz),remote: true,rel:"tooltip", title:"Grade Pending Questions"
                -else
                  %span.badge{rel: "tooltip", title: "No Answer to Grade"}0   
              %td.col-xs-1.grade-system{id: "served_quiz_#{served_quiz.id}"}
                %span.badge
                  = served_quiz.graded_by_system
              %td.col-xs-2
                = link_to analytic_path(served_quiz) do
                  %span.glyphicon.glyphicon-th-list
                  Analyze     
    -else            
      %table.table
        %tbody
          %tr
            %td
              = "No quiz banks served"

