.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4
        ="Add Students"
    = form_tag "/sharings",:class => "form-horizontal", :id => "choose_students", remote: true do |f|
      .modal-body     
        .row
          .col-xs-12{style: "margin-bottom:10px;"}
            -if @quiz_bank.blank? 
              =select_tag 'quiz_bank_id', options_for_select(current_user.quiz_banks.collect{ |u| [u.title, u.id] }), :class => "form-control quiz-bank-dropdown",id: "quiz-bank-id", prompt: "Select Quiz"
            -else
              %h4
                = @quiz_bank.title
              =hidden_field_tag "quiz_bank_id",@quiz_bank.id, id: "quiz-bank-id"   
          .col-xs-12.emails-div     
            =text_field_tag :email_ids, nil, class: "form-control emails", placeholder: "Enter comma separated emails then press enter"
          .col-xs-2.add-users.pull-right{style: "margin-top:10px;"}
            =link_to "Add more students", "#", class: "add-more-students btn btn-primary btn-warning" 
          .col-xs-12.hide.group-dropdown
            -if current_user.groups_to_show.blank?
              = "No student group"
            -else
              =select_tag 'group_id', options_for_select(current_user.groups_to_show.collect{ |u| [u.title, u.id] }), :class => "form-control student-group-id", prompt: "Select Group"  
        .row{style: "margin-top:10px;"}
          .col-xs-6
            =link_to "OR Select from group", "#", class: "select-from-group"
            =link_to "OR Enter email ids", "#", class: "select-from-email hide" 
        .row.students-email
          .student-cloud.col-xs-12{style: "margin-top:10px;"}
            .student-thumbnails{style:"margin-top:10px;overflow-y: auto;max-height:250px"}  
              -current_user.students.each do |student|
                .col-xs-2{style: "margin-left:5px;"}
                  .thumbnail.row{style:"width:250px"}
                    .col-xs-1
                      =check_box_tag "student_ids[]" ,student.id,false,:class => "delete"
                    .col-xs-1
                      %img{src:"/assets/Picupload_bg.png", id:"student-image",style:"width:25px;height:25px;"}
                    .col-xs-6.offset-1{style:"font-size:10px;"}
                      -if student.name.blank?
                        = "Name not set by student"
                      -else
                        = student.name
                      =student.email

          .col-xs-12.emails-for-group-div.hide
            =text_field_tag :emails_for_group_ids, nil, class: "form-control emails-for-group", placeholder: "Enter comma separated emails then press enter"
          .col-xs-2.add-user-group-div.pull-right.hide{style: "margin-top:10px;"}
            =link_to "Add more students", "#", class: "btn btn-primary btn-warning add-user-group"            
      .modal-footer
        =submit_tag "Serve Quiz",{class:"btn btn-primary",placeholder: "Enter comma separated emails to add students"}


:javascript
  $(document).ready(function(){
    $(".modal-body").on("click", ".add-more-students", function(e){
      e.preventDefault()
      console.log("hello")
      $.ajax({
        url: "/sharings/add_more_students",
        method: "GET",
        data: {emails:$(".emails").val(), quiz_bank_id: $("#quiz-bank-id").val()},
        success: function(data){
          console.log(data)
          $(".student-thumbnails").append($(data).find('.student-thumbnails').html())
          $(".emails").val("")
        }
      })
    })
    $(".modal-body").on("change", ".student-group-id", function(){
      if($(this).val() != ""){
        $(".emails-for-group-div").removeClass("hide")
        $(".add-user-group-div").removeClass("hide")
        value = $(this).val()
        $.ajax({
          url: "/groups/"+value+"/get_student",
          method: "get",
          success: function(data){
            $(".student-cloud").html($(data).find('.student-cloud').html())
          }
        })
      }
      else{
        $(".student-cloud").html("")
        $(".emails-for-group-div").addClass("hide")
      }
    })
    $(".modal-body").on("click", ".select-from-group", function(e){
      e.preventDefault()
      $(".group-dropdown").removeClass("hide")
      $(".emails-div").addClass("hide")
      $(".student-thumbnails").html("")
      $(this).addClass("hide")
      $(".add-users").addClass("hide")
      $(".select-from-email").removeClass("hide")
    })
    $(".modal-body").on("click", ".select-from-email", function(e){
      e.preventDefault()
      $(".group-dropdown").addClass("hide")
      $(".emails-div").removeClass("hide")
      $(".student-thumbnails").html("")
      $(this).addClass("hide")
      $(".select-from-group").removeClass("hide")
      $(".emails-for-group-div").addClass("hide")
      $(".add-users").removeClass("hide")
      $(".add-user-group-div").addClass("hide")
      $.ajax({
        url: "/sharings/get_all_students",
        method: "GET",
        success: function(data){
          $(".student-thumbnails").html($(data).find('.student-thumbnails').html())
        }
      })
    })

    $(".modal-body").on("click", ".add-user-group", function(e){
      e.preventDefault()
      console.log("hello")
      $.ajax({
        url: "/sharings/add_more_students",
        method: "GET",
        data: {emails:$(".emails-for-group").val(), quiz_bank_id: $("#quiz-bank-id").val()},
        success: function(data){
          console.log(data)
          $(".student-thumbnails").append($(data).find('.student-thumbnails').html())
          $(".emails-for-group").val("")
        }
      })
    })
  })
      
