.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3
        Edit Group
    = form_for @group,:class => "form-horizontal", remote:true do |f|
      .modal-body
        =f.text_field :title,:class => "form-control", :placeholder => "Give group a title"
        .row{style: "margin-top:10px;"}       
          .col-xs-12
            =text_field_tag :add_new_users,nil,:class => "form-control add-new-users", :placeholder => "Add more users comma separated emails"
          .col-xs-2.pull-right{style: "margin-top:10px;"}
            =link_to "Add More Students","#", class: "btn btn-primary btn-warning add-users"

          .student-cloud.col-xs-12{style: "margin-top:10px;"}
            .student-thumbnails{style:"margin-top:10px;overflow-y: auto;max-height:250px"}  
              -@group.student_groups.each do |student_group|
                .col-xs-2.student{id: student_group.id, style: "margin-left:5px;"}
                  .thumbnail.row{style:"width:250px"}
                    .col-xs-1
                      %img{src:"/assets/Picupload_bg.png", id:"student-image",style:"width:25px;height:25px;"}
                    .col-xs-6.offset-1{style:"font-size:10px;"}
                      -if student_group.student.name.present?
                        = student_group.student.name
                      -else
                      = "Name not set by Student"  
                      = student_group.student.email
                    .col-xs-1.pull-right{style:"font-size:10px;"}
                      = link_to "x",student_group_path(student_group),data:{method: :delete, confirm: "Are you sure?"}, remote:true,rel: "tooltip",title: "Remove student from group", class: "student-to-invite"
                      %input{type: "hidden", value: @group.id, class: "group-id"}  
          
      .modal-footer
        =f.submit "Update Group", class: "btn btn-primary update-group"

:javascript
  $(document).ready(function(){
    $(".modal-body").on("click", ".add-users",function(){
      $.ajax({
        url: "groups/add_students_edit",
        data: {emails:$(".add-new-users").val(),id:$(".group-id").val()},
        method: "GET",
        success: function(data){
          console.log(data)
          $(".add-new-users").val("")
          $(".student-thumbnails").append($(data).find('.student-thumbnails').html())
        }
      })
    })
  })             