.student-thumbnails{style:"margin-top:10px;overflow-y: auto;max-height:250px"}
  -@student_groups.each do |student_group|
    .col-xs-2.student{id: student_group.id, style: "margin-left:5px;"}
      .thumbnail.row{style:"width:250px"}
        .col-xs-1
          %img{src:"/assets/Picupload_bg.png", id:"student-image",style:"width:25px;height:25px;"}
        .col-xs-6.offset-1{style:"font-size:10px;"}
          -if student_group.student.name.present?
            = student_group.student.name
          -else
            = "Name not set by Student"    
            =student_group.student.email
        .col-xs-1.pull-right{style:"font-size:10px;"}
          = link_to "x",student_group_path(student_group),data:{method: :delete, confirm: "Are you sure?"}, remote:true,rel: "tooltip",title: "Remove student from group", class: "student-to-invite"    
  -@invites.each do |invite|
    .col-xs-2.invite-students{id: invite.id,style: "margin-left:5px;"}
      .thumbnail.row{style:"width:250px"}
        .col-xs-1.hide
          =check_box_tag "invite_ids[]" ,invite.id,true,:class => "delete"
        .col-xs-1
          %img{src:"/assets/Picupload_bg.png", id:"student-image",style:"width:25px;height:25px;"}
        .col-xs-6.offset-1{style:"font-size:10px;"}
          = "Student will be invited"    
          =invite.receiver_email
        .col-xs-1.pull-right{style:"font-size:10px;"}
          = link_to "x",invite_path(invite),data:{method: :delete, confirm: "Are you sure?"}, remote:true,rel: "tooltip",title: "Remove student from group", class: "student-to-invite"  