<%=render 'common/tabs'%>
<div class="tab-content padding-top40 tab-container">
	<div class = "mar_top_profile">
		<% if (current_user.profile_pic.present?)%>
		  <div>
		      <%=image_tag current_user.profile_pic,:class => 'big_thumb pos_img_prof', :id => "logo2"%>
		  </div>
		  <%else%>
		    <div class="pos_im">
		        <img id="logo2" src="/assets/Picupload_bg.png" alt="logo2"/>
		    </div>    
		<%end%>
		<div class = "pos_name">
			<% if current_user.first_name.present?%>
			  <%= current_user.first_name%>
			<%end%></br>

			<% if current_user.last_name.present?%>
			  <%= current_user.last_name%>
			<%end%></br>
		</div>
		<div class = "pos_pro">
			<label class = "loc_p">Profession:</label>
		  <%= current_user.role%></br>
		</div>

		<div class = "pos_email">
			<label class = "loc_e">Email:</label>
			<% if current_user.email.present?%>
			  <%= current_user.email%>
			<%end%></br>
		</div>

		<%= link_to "Edit Profile", edit_user_registration_path, :class => "pos_edit btn btn-primary"%>
	</div>
</div>