
<% if (current_user.profile_pic.present?)%>
  <div class="upload_pic upload_pic_style">
      <%=image_tag current_user.profile_pic,:class => '', :id => "logo2", :style => "margin-top: -4px;"%>
  </div>
  <%else%>
    <div class="pos_im">
        <img id="logo2" src="/assets/Picupload_bg.png" alt="logo2"/>
    </div>    
 
<%end%>
<div class = "pos_name">
	<% if current_user.first_name.present?%>
	  <%= current_user.first_name%>
	<%end%></br>

	<% if current_user.last_name.present?%>
	  <%= current_user.last_name%>
	<%end%></br>
</div>
<div class = "pos_pro">
	<label>Profession</label>
  <%= current_user.role%></br>
</div>

<div class = "pos_email">
	<label>Email</label>
	<% if current_user.email.present?%>
	  <%= current_user.email%>
	<%end%></br>
</div>




<%= link_to "Change Password", edit_user_registration_path, :class => "pos_edit btn btn-primary"%>
