<div class = "row">
  <div class = "container">
    <div class = "col-xs-5 col-xs-offset-4" style="text-align:center;">
      <h4>Change your password?</h4>
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
        <div class="form-group">
          <div class = "col-xs-10 mar-top-20" style = "text-align: left">New password:</div>
          <div class="col-xs-12 ">
            <%= f.password_field :password,:class => "form-control",:placeholder => "New Password", :autofocus => true%>
          </div>
        </div>

        <div class="form-group">
          <div class = "col-xs-10 mar-top-20" style = "text-align: left">Confirm new password:</div>
          <div class="col-xs-12">
            <%= f.password_field :password_confirmation,:class => "form-control",:placeholder => "Confirm new Password", :autofocus => true%>
          </div>
        </div>

        <div class = "form-group">  
          <div class = "col-xs-12 mar-top-20">
            <%= f.submit "Change my password", :class => "btn btn-primary btn-lg col-xs-12 responsive-button" %>
          <div>  
        </div>
         
      <% end %>
      <div class = "col-xs-12">
        <%= link_to "Sign in", new_session_path(resource_name)%>&nbsp;
        <%= link_to "Sign up", new_registration_path(resource_name)%>&nbsp;
      </div>
      <div class = "col-xs-12 mar-top-20">   
        <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)%>  
      </div>
    </div>    
  </div>
</div> 



<!-- <h2>Change your password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="form-group top_bar_s">
	  <h4 class = "lead"><label class="f_w_edit_p control-label">New Password</label><h4>
	  	<div class="edit_email col-sm-10">
	      <%= f.password_field :password,:class => "form-control size_area_edit", :autofocus => true %>
	    </div>
  </div></br>
  <div class="form-group top_bar_s">
	  <h4 class = "lead"><label class="f_w_edit_p control-label">Confirm new Password</label><h4>
	  	<div class="edit_email col-sm-10">
	      <%= f.password_field :password_confirmation, :class => "form-control size_area_edit"%>
	    </div>
  </div>


  <div class = "f_pass"><%= f.submit "Change my password", :class => "btn btn-primary" %>
  </div>
<% end %>

<div class = "links_p">
  <%= link_to "Sign in", new_session_path(resource_name) %>
  <%= link_to "Sign up", new_registration_path(resource_name), :class => "mar_l_30" %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), :class => "mar_l_30" %><br />
</div>
 -->