.modal-dialog
  .modal-content.modal_w
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4.modal-title Repository Collaborators
      - if flash[:error]
        .notice.error
          = flash[:error]
      %input{type:"hidden",id:"repo_id",value:@repository.id}

    .modal-body
      .row
        .col-xs-12
          .show-buttons 
            .col-xs-6.pull-left    
              Make the repo public
            .col-xs-2.pull-right
              =link_to "Make Repo Public", "#", class: "btn btn-success btn-sm make-public"  
      .row
        .col-xs-12        
          .show-individual-form.mar-top-10  
            #add-collaborator-panel.custom_b_s  
              =form_for UserRepository.new , :url => repository_collaborators_path(@repository) ,:html=>{ :class=>"form-inline"}  , :remote => true do |f|
                .form-group.width
                  %input{name:"email",type:"email",class:"form-control",id:"exampleInputEmail2",placeholder:"email address"}
                .form-group
                  = f.select :permission, ['Read', 'Write', 'Admin'] , {} , {:class => 'form-control size_area_pop'}
                %button{type:"submit",class:"btn btn-default",id:"add_b"}Add
                %img{src:"/assets/loading.gif",id:"loading-indicator",style:"display:none",class:"load_pos"}
            %table.table#collaborator-list
              %tr
                -if @repository.owner.name.present?
                  %td 
                    = @repository.owner.name
                -else    
                  %td
                    = @repository.owner.email   
                %td.custom_width owner

              -@repository.collaborators.each do |collaborator|
                -unless @repository.is_owner? collaborator
                  %tr{id:"collaborator-#{collaborator.id}",class:"modal_stream"} 
                    -if collaborator.name.present?
                      %td
                        = collaborator.name
                    -else  
                      %td
                        = collaborator.email 
                      %td{id:"permission-#{collaborator.id}"}
                        = UserRepository.where(:user_id => collaborator.id).first.permission  
                    %td
                      %input{type:"hidden",class:"collaborator_id",id:"collaborator_id_#{collaborator.id}", value:collaborator.id}
                      =link_to repository_collaborator_path(id: collaborator.id),data:{method: :delete, confirm: "Are you sure?"}, remote:true,rel: "tooltip",title: "Remove collaborator" do
                        %span.glyphicon.glyphicon-remove-circle.del_circ{id:"del_circ_#{collaborator.id}"}

:javascript
  $('#add_b').click(function() {
    $('#loading-indicator').show();
  });
