.tab-content.padding-top40.tab-container
  .row.quiz-header
    .col-xs-4.col-xs-offset-4
      %h1
        = @served_quiz.cloned_quiz_bank.title
    .col-xs-12
      %h2 Instructions
      %strong
        %p
          = @served_quiz.instructions
  .row.quiz-body            
    .col-xs-12
      %h2
        Notice:
    .col-xs-12.quiz_notice_points
      %strong
        Read the following points carefully before you proceed to the quiz  
    .col-xs-12.quiz_notice_points
      %strong
        = "1) #{show_duration_statement(@served_quiz)}"
    .col-xs-12.quiz_notice_points
      %strong
        = "2) #{show_answers_statement(@served_quiz)}"
    .col-xs-12.quiz_notice_points
      %strong
        = "3) You have #{@served_quiz.cloned_quiz_bank.cloned_questions.count} questions to attempt"    
  .row.quiz-footer
    .col-xs-12.col-xs-offset-5.mar-top-20
      =link_to "Attempt the Quiz", attempt_quiz_students_quiz_bank_path(@served_quiz,sharing_id: @sharing.id ), class: "btn btn-primary btn-success btn-lg"
