= form_for @served_quiz,:class => "form-horizontal", :id => "choose_students" do |f|  
  #wizard
    %h1 Select Quiz 
    %div
      %legend Select Quiz
      .row
        .col-xs-12{style: "margin-bottom:10px;"}
          = f.select :quiz_bank_id, current_user.quiz_banks.map{|q| [q.title,q.id]},{prompt: "Select Quiz"},{class: 'form-control quiz-bank-dropdown'}

    %h1 Questions
    %div
      %legend Questions
      .row
        .col-xs-12
          =check_box_tag "select_question",nil,true,:class=> "select-question"
          ="Select questions"
        .col-xs-12
          =f.check_box :random
          ="Randomize quiz questions/order: "  
        .col-xs-12.all-questions.mar-top-20
      .row.mar-top-20.random-options.hide   
        .col-xs-12
          =f.label :number_of_questions, "Number of Questions *"
          =f.text_field :number_of_questions,class: "form-control"
        .col-xs-12.mar-top-20
          =f.check_box :same_questions
          ="Same questions for students: "
        .col-xs-12.mar-top-20
          =f.check_box :show_in_sequence
          ="Show the questions in sequence: "   

    %h1 Add Students
    %div
      %legend Select Students
      .row
        .col-xs-5.group-dropdown
          .dropdown 
            -if current_user.groups_to_show.blank?
              = "No student group"
            -else
              =select_tag 'group_id', options_for_select(current_user.groups_to_show.collect{ |u| [u.title, u.id] }), :class => "form-control student-group-id", prompt: "Select Group" 
          .students-group
            .student-cloud.mar-top-10
              .student-group-thumbnails.mar-top-10
        .col-xs-1.arrow
          =link_to "#",class: "arrow-link" do
            %span.glyphicon.glyphicon-chevron-right.mar-top-5.mar-left-5
        .emails-div.col-xs-6
          .text-field.col-xs-10.mar-bot-15     
            =text_field_tag :email_ids, nil, class: "form-control emails", placeholder: "Enter comma separated emails then press enter"
          .add-users.col-xs-1.mar-bot-15
            =link_to "Add", "#", class: "add-more-students btn btn-primary btn-warning"
          .col-xs-12.show-group.mar-bot-15
            =link_to "Select from group", "#", class: "select-from-group hide"
          .students-group
            .student-cloud.mar-top-10
              .student-thumbnails.mar-top-10.mar-bot-15     
         
    %h1 Choose Options
    %div
      %legend Choose Options
      .row
        .col-xs-6
          = f.label :date, 'Start Date *'
          =f.text_field :date,:placeholder => "Start date",class: "form-control datepicker"
        .col-xs-6
          = f.label :start_time ,'Start Time *'
          =f.text_field :start_time,:placeholder => "Start time",class: 'form-control time-picker'
      .row.mar-top-20    
        .col-xs-6
          = f.label :date, 'Close Date *'
          =f.text_field :close_date, placeholder: "Close Date", class: "form-control datepicker"
        .col-xs-6
          = f.label :start_time ,'Close Time *'
          =f.text_field :end_time,:placeholder => "End time",class: 'form-control time-picker'
        
      .row.mar-top-20
        .col-xs-12.infinite  
          =f.check_box :infinite_duration, {checked:true, value:true}
          = "Set the duration for quiz to unlimited"
        .col-xs-2.duration-text.hide
          ="Enter quiz duration"
        .col-xs-4.duration-field.hide
          =f.text_field :duration, class: "form-control"
        .col-xs-3.duration-option.hide
          =select_tag :duration_option,options_for_select(["minutes","hours"]), class: "form-control"
        .col-xs-2.duration-cancel.hide{style: "margin-top:4px;"}
          =link_to "#",class: "hide-duration pull-right" do
            %span.glyphicon.glyphicon-remove    
      .row.mar-top-20
        .col-xs-12
          = f.label :instructions ,'Instructions'
          = f.text_area :instructions,rows:10,:placeholder => "Add instructions", class: "form-control serve-instruction"
      .row.mar-top-20
        .col-xs-12
          = f.label :Answer ,'Show Answers'  
          =f.select :answer,ServedQuiz.answer_options_for_select,{}, {class: "form-control"}    
            
        -#.col-xs-12.mar-top-20
          -#=f.check_box :random
          -#="Randomize quiz questions/order: "      
                      
                       

:javascript
  $(document).ready(function(){

    $(".tab-content").on("click",".arrow-link",function(e){
      e.preventDefault()
      $(".student-in-group:checked").each(function(index,student){
        $(student).attr("id","student_ids_")
        $(student).attr("name","student_ids[]")
        $(student).parents(".thumbnail_checkbox").addClass("hide")
        $(student).parents(".thumbnail_checkbox").siblings(".cross").removeClass("hide")
        $(student).parents(".thumb").addClass("mar-left-15").removeClass("mar-left-5")
        $(student).parents(".thumbnail").addClass("thumbnail-medium").removeClass("thumbnail-large")
        $(".student-thumbnails").append($(student).parents(".thumb"))
      })
    })

    $(".tab-content").on("click",".student-in-database",function(e){
      e.preventDefault()
      $(this).parents(".thumb").remove()
    })
    $(".tab-content").on("click","#served_quiz_random",function(){
      if($("#served_quiz_random").is(":checked")){
        $(".all-questions").addClass("hide")
        $(".random-options").removeClass("hide")
        $('#select_question').prop('checked', false);
      }
    })
    $(".tab-content").on("click","#select_question",function(){
      if($("#select_question").is(":checked")){
        $(".all-questions").removeClass("hide")
        $(".random-options").addClass("hide")
        $('#served_quiz_random').prop('checked', false);
      }
    })
    $("#wizard").steps({
      onStepChanging: function (event, currentIndex, newIndex){
        check = 0; 
        if(currentIndex == 0){
          if ($("#served_quiz_quiz_bank_id").val() == ""){
            $("#served_quiz_quiz_bank_id").siblings("label.error").remove()
            $("#served_quiz_quiz_bank_id").after("<label class = 'error'>Select a quiz<label>")
            check = 1;
          }
          else{
            $("#served_quiz_quiz_bank_id").siblings("label.error").remove()
            $.ajax({
              url: "/served_quizzes/"+$(".quiz-bank-dropdown").val()+"/get_instructions",
              method: "GET",
              success: function(data){
                $(".serve-instruction").text(data.instructions)
              }
            })
            $.ajax({
              url: "/served_quizzes/"+$(".quiz-bank-dropdown").val()+"/get_all_questions",
              method: "GET",
              success: function(data){
                $(".all-questions").html($(data).find('.all-questions').html())

              }
            })
            check = 0
          }
        }
        if(currentIndex == 2){
          if($(".student-group-id").val() == ""){
            if($(".delete").is(":checked")){
              check = 0
              $(".student-cloud").siblings("label.error").remove()
            }
            else{
              check = 1
              $(".student-cloud").siblings("label.error").remove()
              $(".student-cloud").before("<label class = 'error'>Select at least one student or group<label>")
            }
          }
          else{
            check = 0;
          }
        }
        if(check == 0){
          return true;
        }
        if(check == 1){
          return false
        } 
      },
      onFinishing: function (event, currentIndex){ 
        $("form#new_served_quiz").submit() 
      },
      labels: { finish: "Serve Quiz"}
    });
    $(".date-picker").datepicker();
    $(".tab-content").on("click", ".add-more-students", function(e){
      e.preventDefault()
      console.log("hello")
      $.ajax({
        url: "/served_quizzes/add_more_students",
        method: "GET",
        data: {emails:$(".emails").val(), quiz_bank_id: $("#quiz-bank-id").val()},
        success: function(data){
          $(".student-thumbnails").append($(data).find('.student-thumbnails').html())
          $(".emails").val("")
        }
      })
    })


    $(".tab-content").on("click", ".add-user-group", function(e){
      e.preventDefault()
      console.log("hello")
      $.ajax({
        url: "/served_quizzes/add_more_students",
        method: "GET",
        data: {emails:$(".emails-for-group").val(), quiz_bank_id: $("#quiz-bank-id").val()},
        success: function(data){
          console.log(data)
          $(".student-thumbnails").append($(data).find('.student-thumbnails').html())
          $(".emails-for-group").val("")
        }
      })
    })

    $(".tab-content").on("click","#served_quiz_infinite_duration", function(e){
      if($(this).is(":checked")){
        $(".duration-text, .duration-option, .duration-field, .duration-cancel").addClass("hide")
        $(".infinite").removeClass("hide")

      }
      else{
        $(".duration-text, .duration-option, .duration-field, .duration-cancel").removeClass("hide")
        $(".infinite").addClass("hide")
      }
      
    })

    $(".tab-content").on("click",".hide-duration", function(e){
      e.preventDefault()
      $(".duration-text, .duration-option, .duration-field, .duration-cancel").addClass("hide")
      $(".infinite").removeClass("hide")
    })

    $(".tab-content").on("click",".student-group-id",function(e){
      e.preventDefault()
      _this = this
      $.ajax({
        url: "/groups/" + $(_this).val() + "/get_all_students_in_group",
        method: "GET",
        success: function(data){
          console.log(data)
          $(".student-group-thumbnails").html($(data).find('.student-thumbnails').html())
        }
      })
    })

    $('.time-picker').timepicker();
    $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' }); 
  })
      
