.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4
        = "Quiz Timings"

    .modal-body
      %table.table.table-bordered.mar-top-15.full-width
        %thead
          %th Start Date
          %th Start Time
          %th End Date
          %th End Time
        %tbody
          %tr
            %td
              = "#{@served_quiz.date.day}-#{@served_quiz.date.month}-#{@served_quiz.date.year}"
            %td
              = @served_quiz.start_time.strftime("%I:%M%p")
            %td
              = "#{@served_quiz.close_date.day}-#{@served_quiz.close_date.month}-#{@served_quiz.close_date.year}"
            %td
              = @served_quiz.end_time.strftime("%I:%M%p") 