.col-xs-12.tab-pane.active#history
  .col-xs-12
    .col-xs-12
      %h3 History
    .col-xs-4
      %input{type: "search", class: "form-control history-search", placeholder: "Search history"}
    .col-xs-12.history{style:"margin-top:10px;"}
      -if @served_quizzes.blank?
        %table.table-bordered{style: "margin-top:15px;width:100%;"}
          %tbody
            %tr 
              %td There is nothing to show in history
      -else
        %table.table.table-bordered{style: "width:100%;margin-bottom:15px;"}
          %thead
            %th Quiz Title
            %th Students
            %th Served Date
            %th Status
          %tbody
            -@served_quizzes.each do |served_quiz|
              %tr
                %td 
                  = served_quiz.quiz_bank.title
                %td
                  = "Students: "
                  = link_to "#{served_quiz.sharings.count}", show_all_sharings_served_quiz_path(served_quiz), remote: true  
                %td
                  = show_date(served_quiz.created_at)
                %td
                  = "Pending: "
                  = link_to served_quiz.sharings.pending.count, "#"
                  = " / "
                  = "Attempted: "
                  = link_to served_quiz.sharings.attempted.count, "#"     


:javascript
  $(document).ready(function(){
    $("#history").on("keydown", ".history-search", function(key){
      _this = this
      if(key.keyCode == 13){
        $.ajax({
          url: "/served_quizzes/history_search",
          data: {q:{title_cont:$(_this).val()}},
          method: "GET",
          success: function(data){
            $(".history").html($(data).find('.history').html())
          }
        })
      }
    })
  })            