.history  
  -if @served_quizzes.blank?
    %table.table-bordered{style: "margin-top:15px;width:100%;"}
      %tbody
        %tr 
          %td There is nothing to show in history
  -else
    %table.table.table-bordered{style: "width:100%;margin-bottom:15px;"}
      %thead
        %th Quiz Title
        %th Students
        %th Served Date
        %th Status
      %tbody
        -@served_quizzes.each do |served_quiz|
          %tr
            %td 
              = served_quiz.quiz_bank.title
            %td
              = "Students: "
              = link_to "#{served_quiz.sharings.count}", show_all_sharings_served_quiz_path(served_quiz), remote: true  
            %td
              = show_date(served_quiz.created_at) 
            %td
              = "Pending: "
              = link_to served_quiz.sharings.pending.count, "#"
              = " / "
              = "Attempted: "
              = link_to served_quiz.sharings.attempted.count, "#"            