<div class = "container">
	<div class = "row">
		<div class = "col-xs-5 col-xs-offset-3">
			<div class="login-box">
				<div class="login-heading">
					<div class= "row">
						<div class = "col-xs-4 col-xs-offset-4">
							Log in
						</div>	
					</div>
				</div>
				<div class = "row">
					<div class = "col-xs-12">
						<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
						
							<div class = "row">
								<div class = "col-xs-12 form-row">
						  		<span class  = "col-xs-2 form-label">Email:</span>
						  		<span class = "col-xs-10">
										<%= f.email_field :email,:class => "form-control size_area_s",:autofocus => "true",:placeholder => "Email" %>
									</span>
								</div>
							</div>
							<div class = "row">
								<div class = "col-xs-12 form-row">
						  		<span class  = "col-xs-2 form-label">Password:</span>
						  		<span class = "col-xs-10">
										<%= f.password_field :password,:class => "form-control size_area_s",:placeholder =>"Password" %>
									</span>
								</div>
							</div>
							<div class = "row">
								<div class = "col-xs-12 form-row">
						  		<span class = "col-xs-4 col-xs-offset-4">
										<%= f.submit "Log in", :class => "btn btn-primary lead btn_s_i" %>
									</span>
								</div>
							</div>

						  
						  <div class = "link_p">
						  	<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
					        <%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'link_s' %><br />
					      <% end -%>
						  </div>	
						<% end %>
					</div>
				</div>	
				  
				 <div class="or_s">or</div>
				<%= link_to "Log In with Facebook", user_omniauth_authorize_path(:facebook), :class => "size_area_s btn btn-default btn-lg active size_drop padd"%>
				
				<div>
				  <img src="https://facebookbrand.com/img/assets/asset.f.logo.lg.png" class = "fb_image"></br>
				</div>  
				<div style="text-align:left;font-size: 16px;" class="lead">Need an Account?</div>
				<div class = "sign_up-p"> 
					<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
				    <%= link_to "Sign up", new_registration_path(resource_name) %>
			    <% end -%>
			  </div>  
		  </div>
		</div>
	</div>    
</div>

