=link_to "#", class: "btn btn-primary btn-top-button btn-sm create-repo" do
  %span.glyphicon.glyphicon-plus-sign
  Create Repo
%li
  -unless @repositories.blank?
    %span.glyphicon.glyphicon-plus-sign
    %span 
      = link_to "My Assessments", manage_quiz_banks_path,remote: true
    %span.badge 
      = @repositories.count
    %ul.assessments.hide
      %li.add-repo.hide
        %input{type:"text", class: "add-repo-field form-control",placeholder: "Add Title"}
      -@repositories.each do |repo|
        %li
          -unless repo.quiz_banks.blank?
            %span.glyphicon.glyphicon-plus-sign
            %span
              = link_to "#{repo.title}", repository_path(repo), remote:true
            %span.badge
              = repo.quiz_banks.count
            %ul.repo.hide
              -repo.quiz_banks.each do |quiz_bank|
                %li
                  = link_to "#{quiz_bank.title}", repository_quiz_bank_path(repo, quiz_bank), remote:true           
          -else
            %span.glyphicon.glyphicon-minus-sign
            %span
              =link_to "#{repo.title}",repository_path(repo),remote: true
            %span.badge
              = repo.quiz_banks.count
               
  -else
    %span.glyphicon.glyphicon-minus-sign
    %span My Assessments
    %span.badge
      = @repositories.count

:javascript
  $(".navigation").on("click",".glyphicon-plus-sign",function(e){
    e.preventDefault()
    $(this).removeClass("glyphicon-plus-sign").addClass("glyphicon-minus-sign")
    $(this).siblings("ul").removeClass("hide")
  })
  $(".navigation").on("click",".glyphicon-minus-sign",function(e){
    e.preventDefault()
    if($(this).siblings("ul").length > 0){      
      $(this).removeClass("glyphicon-minus-sign").addClass("glyphicon-plus-sign")
      $(this).siblings("ul").addClass("hide")
    }
  })
  $(".navigation").on("click",".create-repo",function(e){
    e.preventDefault()
    e.stopPropagation();
    $("li.add-repo").removeClass("hide")
  })
  
  $(".navigation").on("keydown",".add-repo-field",function(e){
    if(e.keyCode == 13){
      $(".add-repo").addClass("hide")
      if($(".add-repo-field").val() != ""){
        e.preventDefault()
        $.ajax({
          url: "/repositories",
          method: "POST",
          data: {repository:{title:$(".add-repo-field").val()}},
          success: function(data){
            $(".add-repo-field").val("")
            $("ul.assessments").append("<li><span class='glyphicon glyphicon-minus-sign'></span><span><a href='/repositories/"+data.id+"' data-remote='true'>"+data.title+"</a></span><span class='badge'>0</span></li>")
          }
        })
      }
    }
  })

  $(".navigation").on("click",".add-repo-field",function(e){
    e.stopPropagation()
  })

  $(window).on("click",function(){
    $(".add-repo").addClass("hide")
  })