<ul class="nav nav-tabs nav-justified">
  <li class="<%= controller.class == RepositoriesController ? 'active col-xs-2 padding-zero' : 'col-xs-2 padding-zero' %>">
    <a href="<%= repositories_path %>">
      <span class="glyphicon glyphicon-align-justify"></span>
      Repository
    </a>
  </li>
  <li class="<%= controller.class == QuizBanksController ? 'active col-xs-2 padding-zero' : 'col-xs-2 padding-zero' %>">
    <a href="<%= quiz_banks_path%>">
      <span class="glyphicon glyphicon-edit"></span>
      Quiz
    </a>
  </li>
  <li class="<%= controller.class == SharingsController ? 'active col-xs-2 padding-zero' : 'col-xs-2 padding-zero' %>">
    <a href=<%= sharings_path%>>
      <span class="glyphicon glyphicon glyphicon-list-alt"></span>
      Serve
    </a>
  </li>
  <li class=' col-xs-2 padding-zero'>
    <a href="#messages" data-toggle="tab">
      <span class="glyphicon glyphicon glyphicon-list-alt"></span>
      Grade
    </a>
  </li>
  <li class=' col-xs-2 padding-zero'>
    <a href="#messages" data-toggle="tab">
      <span class="glyphicon glyphicon glyphicon-inbox"></span>
      Reports
    </a>
  </li>

  <li class="<%= controller.class == UsersController and controller.action_name == 'profile' ? 'active' : '' %>">
    <a href="<%= profile_user_path(:id => current_user.id)%>">
      <span class="glyphicon glyphicon glyphicon-cog"></span>
      Settings
    </a>
  </li>
</ul>