%nav.my-sub-header.navbar
  .container
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{"ng-href" => '#/manage_quiz_banks'}Manage
        %li
          %a{href: "#"} Serve
        %li
          %a{href: "#"} Grade
        %li
          %a{href: "#"} Analyze
.row
  .col-xs-12.top-options
    .container
      %ul
        %li.col-xs-1
          %span.glyphicon.glyphicon-floppy-disk
          %span
            %a{"ng-click" => 'saveQuiz()',"ng-href" => '#/manage_quiz_banks'} Save
        %li.col-xs-1
          %span.glyphicon.glyphicon-remove
          %span 
            %a{"ng-Click" => "cancelQuiz()","ng-href" => '#/manage_quiz_banks'}Cancel
        %li.col-xs-2
          %span.glyphicon.glyphicon-plus-sign
          %span
            %a{"ng-click" => 'addNewSection()'}Add Section
            
.row
  .col-xs-12
    .container
      .row
        .col-xs-3.left-panel
          %ul.navigation
            %li
              .row
                .col-xs-12
                  %h3 Search
                .col-xs-12
                  %input{type:"Search",class: "form-control","ng-model"=>"titleFilter",placeholder: "Search"}
            %li      
              .row
                .col-xs-12
                  %h3 Questions
                .col-xs-12
                  %ul
                    %li
                      %a{"ng-Click" => "addBlank()"} Add Fill in Blank
                    %li
                      %a{"ng-Click" => "addMcq()"} Add Mcq
                    %li
                      %a{"ng-Click" => "addTrueFasle()"} Add True False
                    %li
                      %a{"ng-Click" => "addOpenEnded()"} Add Open Ended        

        .col-xs-8.right-list.mar-top-20
          .row
            .col-xs-3
              %input{type:"text", "ng-model" => "quiz_bank.title", class: "form-control", placeholder: "Enter Title"}
            .col-xs-3.from-label
              %strong
                = "From: Abdullah Khan"
            .col-xs-6
              %input{type:"text",class: "form-control", placeholder: "Enter Comma separated Tags"}
          .row.mar-top-20
            %span.col-xs-2
              = "Created: Today"
            %span.col-xs-2
              = "Edited: Today"
            %span.col-xs-3
              = "Sharing Status: Private"
            %span.col-xs-5
              %span.col-xs-3
                = "Subject:"
              %span.col-xs-9  
                %select{"ng-model" => "selectedsubject","ng-options" => "subject as subject.title for subject in subjects",class: "form-control"}   
          .row.mar-top-20
            .col-xs-12
              %strong
                = "Description:"
            .col-xs-12
              %textarea{"ng-model"=>"quiz_bank.description", "required" => true, "ng-minlength"=> "10","ng-maxlength" => "50", class: "form-control", rows: 2}
          .row.mar-top-10    
            .col-xs-12
              %strong
                = "Instruction:"  
            .col-xs-12
              %textarea{"ng-model"=>"quiz_bank.instructions", "required" => true, "ng-minlength"=> "10","ng-maxlength" => "50", class: "form-control", rows: 2}
          .mar-top-10{"ng-repeat" => "section in quiz_sections | filter: titleFilter"}
            .col-xs-12.well.well-sm
              .col-xs-4
                {{section.title}}
              .col-xs-4.pull-right
                %a{"ng-Click" => "editSection(section)"}
                  %span.glyphicon.glyphicon-edit.pull-right
                %a{"ng-Click" => "deleteSection(section.id,$index)"}
                  %span.glyphicon.glyphicon-trash.pull-right
            .col-xs-12.new-section-box.mar-top-10.mar-bot-10{"ng-if" => "section == section_edit","ng-show" => "section_edit"}
              %span.col-xs-1
                = "Title:"
              %span.col-xs-9
                %input{"ng-model" => "section_edit.title",type: "text", class: "form-control"}
              %span.col-xs-2.pull-right
                %a{"ng-Click" => "updateSection(section_edit)"} Save
                %a{"ng-Click" => "cancelEditSection()"} Cancel        

                      
          .mar-top-10{"ng-Show" => "show_new_section"}
            .col-xs-12.new-section-box
              %span.col-xs-1
                = "Title:"
              %span.col-xs-9
                %input{"ng-model" => "newSection.title",type: "text", class: "form-control"}
              %span.col-xs-2.pull-right
                %a{"ng-Click" => "addSection(newSection.title)"} Save
                %a{"ng-Click" => "CancelSection()"} Cancel
              


