%footer.footer
  .container
    .my-footer-contents
      2014 QuizLib Inc
      ="|"
      = link_to "Terms Privacy", "#"
      = "|"
      = link_to "Security","#"
      = "|"
      = link_to "Contact","#"
