<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuizLib</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "ckeditor/init" %>
    <%= javascript_include_tag "ckeditor/config" %>
    <%= javascript_include_tag "dialogpatch" %>
    <%= javascript_include_tag "main" %>
    <%= javascript_include_tag "angular-dragdrop" %>
    <%= javascript_include_tag "factory/quiz_bank" %>
    <%= javascript_include_tag "factory/repository" %>
    <%= javascript_include_tag "factory/subject" %>
    <%= javascript_include_tag "factory/section" %>
    <%= javascript_include_tag "factory/topic" %>
    <%= javascript_include_tag "factory/user" %>
    <%= javascript_include_tag "factory/question" %>
    <%= javascript_include_tag "factory/question_option" %>
    <%= javascript_include_tag "factory/question_topic" %>
    <%= javascript_include_tag "factory/favourite_quiz" %>
    <%= javascript_include_tag "factory/group" %>
    <%= javascript_include_tag "factory/student_group" %>
    <%= javascript_include_tag "services/global_scope" %>
    <%= javascript_include_tag "directives/simpledirectives" %>
    <%= javascript_include_tag "controllers" %>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%=render "layouts/header"%>
    <div ng-app="quizlib">
      <ng-view>
          <%= yield %>
      </ng-view>
    </div>
    <%=render "layouts/footer"%>   
    
  </body>
</html>